main{
    width: 80%;
    margin: 0 auto;
    .titleBar{
        display: flex;
        flex-direction: column;
        gap: 2px;
        #title{
            font-weight: bolder;
            margin-bottom: 0;
        }
    }
    
}