@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    // border: 1px solid;
    color: black;
    padding: 0;
    margin: 0;
    font-family: Inter;
    
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 700;
    border-bottom: 1px dashed;
    padding: 10px;
    a.title{
        width: fit-content;
        background:linear-gradient( 45deg,rgb(210, 30, 210),blue);
        color: transparent;
        -webkit-background-clip: text;
        position: relative;

    }
    .title:after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 2px solid black;
        transform: scaleX(0);
        transform-origin: center;
        animation: linearAnimation 1s  infinite;
    }
}


@keyframes linearAnimation {
    0%{
        transform: scaleX(00%);
        opacity: 0;
    }
    
    100%{
        transform: scaleX(100%);
        opacity: 1;

    }
}

main{
    width: 80%;
    margin: 0 auto;
    h2{
        border-bottom: 2px solid;
    }
    .programListContainer{
        display: flex;
        gap: 10px;
        margin-top: 20px;
        .card{
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            border: 2px solid black;


            .title{
                font-size: 18px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: cyan;
                width: 100%;
                padding: 10px 0;
                span{
                    padding: 10px 10px;
                }
            }
            .list{
                list-style: none;
                padding: 10px 1rem;
                display: flex;
                flex-direction: column;
                gap: 15px;
                li{
                    a{
                        width: 100%;
                        height: 100%;
                        position: relative;
                    }
                    a::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-bottom: 2px solid rgb(51, 199, 51);
                        transform: scaleX(0%);
                        transform-origin: left;
                    }
                    a:hover{
                        color: rgb(51, 199, 51);
                    }
                    a:hover::after{
                        animation: hoverAnimation 0.5s forwards;

                    }
                }
            }
        }
    }
}
@keyframes hoverAnimation {
  
    100%{
        transform: scaleX(100%);
    }
}